name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Fetch Secrets and Add in Environment
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          APP_ID: ${{ secrets.APP_ID }}
        run: echo "Base Url = $BASE_URL App Id = $APP_ID"

      - name: Add local.properties file
        run: echo -e "base_url= $BASE_URL \n app_id= $APP_ID" > ./local.properties

      - name: Generate Lint Report
        run: ./gradlew lintDebug

      - name: Upload Lint report
        uses: actions/upload-artifact@v2
        with:
          name: lint.html
          path: app/build/reports/lint-results-debug.html

  unit-test:
    needs: [ lint ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Fetch Secrets and Add in Environment
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          APP_ID: ${{ secrets.APP_ID }}
        run: echo "Base Url = $BASE_URL App Id = $APP_ID"

      - name: Add local.properties file
        run: echo -e "base_url= $BASE_URL \n app_id= $APP_ID" > ./local.properties
      - name: Generate test report
        run: ./gradlew test

      - name: Upload unit test report
        uses: actions/upload-artifact@v2
        with:
          name: unit-test-report
          path: app/build/reports/tests/testDebugUnitTest

  instrumentation-test:
    needs: [ unit-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Fetch Secrets and Add in Environment
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          APP_ID: ${{ secrets.APP_ID }}
        run: echo "Base Url = $BASE_URL App Id = $APP_ID"

      - name: Add local.properties file
        run: echo -e "base_url= $BASE_URL \n app_id= $APP_ID" > ./local.properties

      - name: Generate AndroidTest Report
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: ./gradlew connectedCheck

      - name: Upload AndroidTest report
        uses: actions/upload-artifact@v2
        with:
          name: instrumentation-test-report
          path: app/build/reports/androidTests/connected/

  static-code-analysis:
    needs: [ instrumentation-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Fetch Secrets and Add in Environment
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          APP_ID: ${{ secrets.APP_ID }}
        run: echo "Base Url = $BASE_URL App Id = $APP_ID"

      - name: Add local.properties file
        run: echo -e "base_url= $BASE_URL \n app_id= $APP_ID" > ./local.properties

      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: SonarCloud Scan
        run: ./gradlew app:sonarqube -D sonar.login=${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-apk:
    needs: [ static-code-analysis ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Fetch Secrets and Add in Environment
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          APP_ID: ${{ secrets.APP_ID }}
        run: echo "Base Url = $BASE_URL App Id = $APP_ID"

      - name: Add local.properties file
        run: echo -e "base_url= $BASE_URL \n app_id= $APP_ID" > ./local.properties

      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build debug APK
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: app-debug.apk
          path: app/build/outputs/apk/debug/app-debug.apk